{% extends 'biografia/base.html' %}
{% block conteudo %}

<div class="container">
    <div class="content-area">
        <h1>Douglas Paulo</h1>
        <p>Nome completo: Douglas Paulo Cortes</p>
        <p>Solteiro, brasileiro, 29 anos;</p>
        <p>Rua Francisco Torres 545, ap 1202</p>
        <p>Centro – Curitiba PR</p>
        <p>Celular: (41) 997327017</p>
        <p>E-mail: douglas.xara.2011@gmail.com</p>
        
        <h2>FORMAÇÃO ACADÊMICA</h2>
        <ul>
            <li>Ensino Médio pelo Colégio Servos de Maria da OSM Brasil, Turvo-SC, 2008-2010;</li>
            <li>Engenharia Civil, PUC-PR, 2011-2013;</li>
            <li>Bacharel e Licenciatura em Matemática pela UTFPR, Curitiba, 2015-2018;</li>
            <li>Engenharia de Software pela UniCesumar, cursando desde 2022.</li>
        </ul>

        <h2>EXPERIÊNCIA PROFISSIONAL</h2>
        <ul>
            <li>Assistente Administrativo, de caráter pastoral, no Colégio Servos de Maria e na Ordem Servos de Maria de 2008 à 2011.</li>
            <li>Atendente de Call Center, 2011-2012;</li>
            <li>Garçom Restaurante Edvino, 2012-2014;</li>
            <li>Fiscal de Prevenção e Perdas da rede Angeloni Supermercados cia, 2014-2015;</li>
            <li>Garçom Bar do Alemão, 2015-2020;</li>
            <li>Supervisor Administrativo InterInvestimentos, 2022-2023;</li>
            <li>Analista de Sistemas Intervestimentos, 2022-2023;</li>
        </ul>

        <h2>IDIOMAS</h2>
        <p>Inglês avançado (escrevo bem, boa compreensão e básica comunicação).</p>
        <p>Espanhol intermediário (escrevo bem, pouca compreensão e básica comunicação).</p>

        <h2>INFORMÁTICA</h2>
        <ul>
            <li>Noções de hardware: compreendo toda a Arquitetura e Organização de Computadores e máquinas cibernéticas;</li>
            <li>Software: Python (avançado); C\C++(avançado); Sistemas embarcados; SQL (avançado); Excel (avançado); Word (avançado); Power point (intermediário), sistemas de controle e acesso remoto (AnyDesk e TeamViewer); web (avançado), Windows (avançado); Linux (avançado); Ubuntu (avançado); CAD (avançado), CANVAS (intermediário); COREDRAW (avançado), GEOGebra (avançado), entre outros.</li>
        </ul>
        
        <div class="portfolio">
            <h2>Trabalhos Realizados</h2>
            <div class="portfolio-item">
                <a href="link_para_seu_documento_power_bi">Documento Power BI</a>
            </div>
            <div class="portfolio-item">
                <a href="link_para_seu_site">Site Criado</a>
            </div>
            <div class="portfolio-item">
                <a href="link_para_sua_analise">Análise de Dados</a>
            </div>
            <!-- Adicione mais itens conforme necessário -->
        </div>
    </div>
    
    <div class="image-area">
        <img class="image" src="caminho_para_sua_imagem.jpg" alt="Imagem de Exemplo">
    </div>
</div>

{% endblock %}